<!DOCTYPE html>
<html>
  <head>
    <title>Top5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Aaron's Top5</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><%= link_to "Top 5", root_path %></li>
                  <li><%= link_to "Artists", artists_path %></li>
                  <li><%= link_to "Songs", songs_path %></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <%= yield %>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Aaron's Top Jams, &copy; 2017</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </body>
</html>
